<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员 | 控制台</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
          <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="{{ url_for('static', filename='favicon.ico') }}" class="rounded me-2" alt="...">
              <strong class="me-auto">WebAuthSystem</strong>
              <small>right now</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-center">
              欢迎回来！
            </div>
          </div>
        </div>
    </div>
    <div class="container-fluid p-3 bg-warning text-black text-center shadow-lg">
        <h1>管理员控制台</h1>
        <h4>选择您要进行的操作</h4>
    </div>
    <div class="container my-5">
        <div class="row justify-content-between">
            <div class="col-2">
                <h6>欢迎，<span class="badge bg-secondary" id="userId">{{ userId }}</span></h6>
            </div>
            <div class="col-1">
                <form method="POST" action="/logout/">
                    <button name="logout" type="submit" class="btn btn-danger">登出</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作1
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">查询用户</h3>
                        <br>
                        <p class="card-text">点击按钮，<mark>查询</mark>用户基本信息。</p>
                        <br><br>
                        <input class="btn btn-primary" type="button" value="查询信息" onclick="location.href='/app/search_user/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作2
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">修改个人信息</h3>
                        <br>
                        <p class="card-text">点击按钮，<mark>修改</mark>您的个人信息。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="修改信息" onclick="location.href='/app/modify_my_info/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作3
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">上传文件</h3>
                        <br>
                        <p class="card-text">点击按钮，<mark>上传文件</mark>到服务器。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="上传文件" onclick="location.href='/app/upload_file/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作4
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">下载文件</h3>
                        <br>
                        <p class="card-text">点击按钮，<mark>下载文件</mark>到本地。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="下载文件" onclick="location.href='/app/download_file/'">
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作5
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">修改用户特权</h3>
                        <br>
                        <p class="card-text">点击按钮，<mark>修改</mark>用户的特殊权限。特殊权限与用户角色和属组无关。</p>
                        <br>
                        <input class="btn btn-primary" type="button" value="修改权限" onclick="location.href='/app/modify_special_authority/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作6
                    </div>
                    <div class="card-body">
                        <h3 class="card-title plcaeholder-glow">组管理</h3>
                        <br>
                        <p class="card-text">点击按钮，管理<mark>应用-组规则</mark>。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="管理组" onclick="location.href='/app/manage_group_rule/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作7
                    </div>
                    <div class="card-body">
                        <h3 class="card-title plcaeholder-glow">角色管理</h3>
                        <br>
                        <p class="card-text">点击按钮，管理<mark>应用-角色规则</mark>。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="管理角色" onclick="location.href='/app/manage_role_rule/'">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card border-dark shadow-lg">
                    <div class="card-header text-center">
                        操作8
                    </div>
                    <div class="card-body">
                        <h3 class="card-title plcaeholder-glow">用户管理</h3>
                        <br>
                        <p class="card-text">点击按钮，管理<mark>用户</mark>。</p>
                        <br>
                        <br>
                        <input class="btn btn-primary" type="button" value="管理用户" onclick="location.href='/app/manage_user/'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var toastLive = document.getElementById('liveToast')
        var toast = new bootstrap.Toast(toastLive);
        toast.show();
    </script>
</body>
</html>